@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #faf8ef;
    font-family: Arial, sans-serif;
}

.game-container {
    text-align: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    gap: 5px;
}

.candy {
    width: 50px;
    height: 50px;
    background-color: #cdc1b4;
    font-size: 24px;
    font-weight: bold;
    color: #776e65;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.candy.red { background-color: #f28b82; }
.candy.yellow { background-color: #fbbc04; }
.candy.blue { background-color: #4285f4; }
.candy.green { background-color: #34a853; }
.candy.orange { background-color: #ea4335; }
.candy.purple { background-color: #a142f4; }

.score-container {
    margin-top: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
}

.game-over-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none; /* Hide by default */
    justify-content: center;
    align-items: center;
}

.game-over-content {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.game-over-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.game-over-content button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.game-over-content button:hover {
    background-color: #45a049;
}
